<div class="lateral-menu">
  <div class="lateral-menu-header">
    <h1 class="font-bold">Henalecam Blog</h1>
  </div>
  <div class="lateral-menu-body">
    <ul>
      <li>
        <%= link_to "Dev Blogs", posts_path, class: "menu-link" %>
      </li>
      <li>
        <%= link_to "No Context Dev Blogs", root_path, class: "menu-link" %>
      </li>
      <li>
        <%= link_to "Generals", posts_path, class: "menu-link" %>
      </li>
    </ul>
    <ul>
      <li>
        <%= image_tag "https://img.icons8.com/bubbles/150/linkedin.png", alt: "linkedin" %>
      </li>
      <li>
        <%= image_tag "https://img.icons8.com/bubbles/150/github.png", alt: "github" %>
      </li>
      <li>
        <%= image_tag "https://img.icons8.com/bubbles/150/instagram-new--v2.png", alt: "instagram" %>
      </li>
    </ul>
  </div>
</div>
