<%= stylesheet_link_tag "posts" %>
    <div class="blog-posts">
      <h1 class="text-3xl font-bold mb-3 text-center">Posts</h1>
      <div>
        <% @posts.each do |post| %>
            <div class="blog-post bg-quaternary mb-4 w-full min-w-400px">
            <%= link_to post_path(post) do %>
              <h2 class="text-2xl font-bold mb-2"><%= post.title %></h2>
              <p class="text-lg mb-4"><%= truncate(post.body, length: 100) %></p>
            <% end %>
            <div class="post-actions mt-4">
              <p class="inline-block mr-4"><%= link_to "Edit", edit_post_path(post), class: "text-blue-500" %></p>
              <p class="inline-block"><%= link_to "Delete", post_path(post), method: :delete, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }, class: "text-red-500" %></p>
            </div>
          </div>
        <% end %>
      </div>
      <%= link_to "New Post", new_post_path, class: "text-blue-500 mt-4" %>
      <%= will_paginate @posts, previous_label: 'Previous', next_label: 'Next' %>

    </div>
