<!DOCTYPE html>
<html>
  <head>
    <title>HenalecamBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

    <body style="height: 100vh; margin: 0;">
      <main class="container flex w-full h-full">
        <section style="flex: 1;">
          <%= render partial: "lateral_menu" %>
        </section>
        <section id="content" style="flex: 1;">
          <% if notice %>
            <div class="notice"><%= notice %></div>
          <% end %>
          <%= yield %>
        </section>
      </main>
    </body>
  </html>

           <script>
          /*   setTimeout(function() {
               document.querySelector('.notice').style.display = 'none';
             }, 2000);
             */
           </script>