<!DOCTYPE html>
<html>
  <head>
    <title>HenalecamBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

    <body class="bg-primary">
      <main class="container flex">
          <section id="lateral-menu" class="w-1/5 bg-secondary h-dvh">
            <div class="lateral-menu">
              <div class="lateral-menu-header">
                <h1 class="text-2xl font-bold">Blog</h1>
              </div>
              <div class="lateral-menu-body">
                <ul class="menu">
                  <li class="menu-item">
                    <%= link_to "Home", root_path, class: "menu-link" %>
                  </li>
                  <li class="menu-item">
                    <%= link_to "Posts", posts_path, class: "menu-link" %>
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <section id="content" class="w-4/5">
            <%= yield %>
          </section>
      </main>
    </body>
  </html>
